[tool.isort]
include_trailing_comma = true
multi_line_output = 3
profile = "black"
skip_glob = ["docs/*", "cpa/__init__.py"]

[tool.poetry]
authors = ["Mohsen Naghipourfar <naghipourfar@berkeley.edu>", "Mohammad Lotfollahi <mohammad.lotfollahi@helmholtz-muenchen.de>"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
]
description = "Compositional Perturbation Autoencoder (CPA)"
documentation = "https://cpa-tools.readthedocs.io"
homepage = "https://github.com/theislab/cpa/"
license = "BSD-3-Clause"
name = "cpa-tools"
packages = [
    { include = "cpa" },
]
readme = "README.md"
version = "0.2.5"

[tool.poetry.dependencies]
adjustText = { version = "*", optional = true }
anndata = ">=0.7.5"
black = { version = ">=20.8b1", optional = true }
codecov = { version = ">=2.0.8", optional = true }
flake8 = { version = ">=3.7.7", optional = true }
importlib-metadata = { version = "^1.0", python = "<3.8" }
ipython = { version = ">=7.1.1", optional = true }
isort = { version = ">=5.7", optional = true }
jupyter = { version = ">=1.0", optional = true }
leidenalg = { version = "*", optional = true }
loompy = { version = ">=3.0.6", optional = true }
nbconvert = { version = ">=5.4.0", optional = true }
nbformat = { version = ">=4.4.0", optional = true }
nbsphinx = { version = "*", optional = true }
nbsphinx-link = { version = "*", optional = true }
pre-commit = { version = ">=2.7.1", optional = true }
pydata-sphinx-theme = { version = ">=0.4.0", optional = true }
pytest = { version = ">=4.4", optional = true }
python = ">=3.7.2,<3.11"
python-igraph = { version = "*", optional = true }
scanpydoc = { version = ">=0.5", optional = true }
scikit-misc = { version = ">=0.1.3", optional = true }
scvi-tools = ">=0.14.6,<0.15.0"
scanpy = ">=1.6"
sphinx = { version = ">=4.1,<4.4", optional = true }
sphinx-autodoc-typehints = { version = "*", optional = true }
sphinx-rtd-theme = { version = "*", optional = true }
typing_extensions = { version = "*", python = "<3.8" }
llvmlite = "^0.38.0"
matplotlib = "^3.5.1"
seaborn = "^0.11.2"
scikit-learn = "^1.0.2"
numpy = "^1.21.5"
scipy = "^1.7.3"

[tool.poetry.extras]
dev = ["black", "pytest", "flake8", "codecov", "scanpy", "loompy", "jupyter",
    "nbformat", "nbconvert", "pre-commit", "isort"]
docs = [
    "jinja2<3.0.3",
    "scanpy",
    "sphinx",
    "scanpydoc",
    "nbsphinx",
    "nbsphinx-link",
    "ipython",
    "pydata-sphinx-theme",
    "typing_extensions",
    "sphinx-autodoc-typehints",
    "sphinx_gallery",
    "sphinx-rtd-theme",
]
tutorials = ["scanpy", "leidenalg", "python-igraph", "loompy", "scikit-misc"]

[tool.poetry.dev-dependencies]

[build-system]
build-backend = "poetry.masonry.api"
requires = [
    "poetry>=1.0",
    "setuptools", # keep it here or "pip install -e" would fail
]
